<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.zna.server.dao.BannerDAO">

    <!--查询banner-->
    <select id="selectBanner" resultType="com.zna.server.entity.bo.BannerBO" parameterType="java.lang.String">
        SELECT * FROM `zna_banner`
        <where>
            <if test="state!=null and state!=''"> `state`=#{state}</if>
            <if test="state==null">`state`='show'</if>
        </where>
        order by sort asc
    </select>
    <!--新增banner-->
    <insert id="addBanner" parameterType="com.zna.server.entity.bo.BannerBO">
        INSERT INTO `zna_banner` ( `picture_url`,`picture_url_pc`, `skip_url`, `skip_type`, `skip_id`,
                                  `skip_title`,`sort`, `state`, `create_user_id`, `create_time`)
                            VALUES (#{pictureUrl},#{pictureUrlPc}, #{skipUrl},#{skipType},#{skipId},
                                    #{skipTitle},#{sort},#{state},#{createUserId},NOW())
    </insert>
    <!--修改banner-->
    <update id="updateBanner" parameterType="com.zna.server.entity.bo.BannerBO">
        UPDATE `zna_banner` SET
        <if test="pictureUrl!=null and pictureUrl!=''">`picture_url`=#{pictureUrl},</if>
        <if test="pictureUrlPc!=null and pictureUrlPc!=''">`picture_url_pc`=#{pictureUrlPc},</if>
        <if test="skipUrl!=null and skipUrl!=''">`skip_url`=#{skipUrl},</if>
        <if test="skipType!=null and skipType!=''">`skip_type`=#{skipType},</if>
        <if test="skipId!=null and skipId!=''">`skip_id`=#{skipId},</if>
        <if test="skipTitle!=null and skipTitle!=''">`skip_title`=#{skipTitle},</if>
        <if test="sort!=null and sort!=''">`sort`=#{sort},</if>
        <if test="state!=null and state!=''">`state`=#{state},</if>
        `update_user_id`=#{updateUserId},
        `update_time`=NOW()
        WHERE id=#{id}
    </update>
    <!--上下架-->
    <update id="showOrNotBanner">
        UPDATE `zna_banner` SET `state`=#{state},`update_user_id`=#{updateUserId}, `update_time`=NOW()
        WHERE id = #{id}
    </update>
    <!--物理删除banner-->
    <delete id="removeBanner">
        delete from `zna_banner` where id=#{id}
    </delete>

</mapper>