<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.zna.server.dao.FromPictureDAO">

    <insert id="addFromPicture" parameterType="com.zna.server.entity.bo.FromPictureBO">
        INSERT INTO `zna_from_picture` (`picture_url`) VALUES (#{pictureUrl});
    </insert>
    <!--修改关于我们-->
    <update id="updateFromPicture" parameterType="com.zna.server.entity.bo.FromPictureBO">
        UPDATE `zna_from_picture`
        SET <if test="pictureUrl!=null and pictureUrl!=''">`picture_url` = #{pictureUrl}</if>
    </update>

    <!--查询条数-->
    <select id="getCount" resultType="int">
        SELECT COUNT(id) FROM `zna_from_picture`
    </select>

    <!--查询-->
    <select id="getFromPicture" resultType="com.zna.server.entity.bo.FromPictureBO">
        SELECT * FROM `zna_from_picture`
    </select>
</mapper>