<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.zna.server.dao.ProjectDAO">

    <!--新增项目-->
    <insert id="addProject" parameterType="com.zna.server.entity.bo.ProjectBO">
        INSERT INTO `zna_project` ( `project_type_name`, `project_type_name_english`, `title`, `title_english`, `type`,`sort`, `picture_url`,`picture_url_pc`, `site`, `site_english`, `floor_space`,`floor_space_english`,`covered_area`,`covered_area_english`,`client`,`client_english`,`context`, `context_english`,
        `property` ,`property_english`,`create_user_id`, `create_time`)
        VALUES
        <!--<foreach collection="pictureUrlArr" item="pictureUrl" separator=",">-->
        (#{projectTypeName},#{projectTypeNameEnglish},#{title},#{titleEnglish},
        #{type},#{sort},#{pictureUrl},#{pictureUrlPc},#{site},#{siteEnglish},#{floorSpace},#{floorSpaceEnglish},#{coveredArea},#{coveredAreaEnglish},#{client},#{clientEnglish},#{context},#{contextEnglish},
        #{property},#{propertyEnglish},
        #{createUserId},NOW())
        <!--</foreach>-->
    </insert>
    <!--删除项目-->
    <delete id="delProject" parameterType="int">
        DELETE FROM `zna_project`WHERE id=#{id}
    </delete>
    <!--修改项目-->
    <update id="updateProject" parameterType="com.zna.server.entity.bo.ProjectBO">
        UPDATE `zna_project` SET
        <if test="projectTypeName!=null and projectTypeName!=''">`project_type_name`=#{projectTypeName},</if>
       <if test="projectTypeNameEnglish!=null and projectTypeNameEnglish!=''"> `project_type_name_english`=#{projectTypeNameEnglish},</if>
        <if test="title!=null and title!=''">`title`=#{title},</if>
      <if test="titleEnglish!=null and titleEnglish!=''">`title_english`=#{titleEnglish},</if>
        <if test="sort!=null and sort!=''">`sort`=#{sort},</if>
        <if test="pictureUrl!=null and pictureUrl!=''">`picture_url`=#{pictureUrl},</if>
        <if test="pictureUrlPc!=null and pictureUrlPc!=''">`picture_url_pc`=#{pictureUrlPc},</if>
        <if test="site!=null and site!=''">`site`=#{site},</if>
        <if test="siteEnglish!=null and siteEnglish!=''">`site_english`=#{siteEnglish},</if>
        <if test="floorSpace!=null and floorSpace!=''">`floor_space`=#{floorSpace},</if>
        <if test="floorSpaceEnglish!=null and floorSpaceEnglish!=''">`floor_space_english`=#{floorSpaceEnglish},</if>
        <if test="coveredArea!=null and coveredArea!=''">`covered_area`=#{coveredArea},</if>
        <if test="coveredAreaEnglish!=null and coveredAreaEnglish!=''">`covered_area_english`=#{coveredAreaEnglish},</if>
        <if test="client!=null and client!=''">`client`=#{client},</if>
        <if test="clientEnglish!=null and clientEnglish!=''">`client_english`=#{clientEnglish},</if>

         <if test="context!=null and context!=''">`context`=#{context},</if>
         <if test="contextEnglish!=null and contextEnglish!=''">`context_english`=#{contextEnglish},</if>
        <if test="property!=null and property!=''">`property`=#{property},</if>
        <if test="propertyEnglish!=null and propertyEnglish!=''">`property_english`=#{propertyEnglish},</if>
          `update_user_id` = #{updateUserId},
          `update_time` = NOW()
            WHERE `id`=#{id}
    </update>
    <!---->
    <select id="getProject" resultType="com.zna.server.entity.bo.ProjectBO">
        SELECT * FROM `zna_project`
        <where>
            <if test="title!=null and title!=''">`title` LIKE  '%${title}%' OR `title_english` LIKE  '%${title}%' OR `site` LIKE  '%${title}%' OR `site_english` LIKE  '%${title}%'</if>
            <if test="projectTypeName!=null and projectTypeName!=''"> AND project_type_name = #{projectTypeName}</if>
            <if test="projectTypeNameEnglish!=null and projectTypeNameEnglish!=''">and project_type_name_english = #{projectTypeNameEnglish}</if>
            <if test="type!=null and type!=''">and `type`=#{type}</if>
        </where>
        order by sort asc
        <if test="pageOffset!=null and pageSize!=null">
            LIMIT #{pageOffset},#{pageSize}
        </if>
    </select>
    <select id="getCount" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM `zna_project`
        <where>
            <if test="title!=null and title!=''">`title` LIKE  '%${title}%' OR `title_english` LIKE  '%${title}%' OR `site` LIKE  '%${title}%' OR `site_english` LIKE  '%${title}%'</if>
            <if test="projectTypeName!=null and projectTypeName!=''">AND project_type_name = #{projectTypeName}</if>
            <if test="projectTypeNameEnglish!=null and projectTypeNameEnglish!=''">and project_type_name_english=#{projectTypeNameEnglish}</if>
            <if test="type!=null and type!=''">and `type`=#{type}</if>
        </where>
    </select>
    <select id="getProjectDetails" resultType="com.zna.server.entity.bo.ProjectBO">
          SELECT * FROM `zna_project` WHERE id=#{id}
    </select>

    <resultMap id="projectList" type="com.zna.server.entity.bo.ProjectTypeNameBO">
        <result column="project_type_name" property="label"></result>
        <collection property="children" ofType="com.zna.server.entity.bo.ProjectListBO">
            <result column="id" property="id"></result>
            <result column="title" property="label"></result>
        </collection>
    </resultMap>
    <select id="getProjectIdList" resultMap="projectList">
       	SELECT pt.id as ttt,pt.project_type_name , pr.id ,pr.title ,pr.title_english
       	  FROM   zna_project_type pt  LEFT JOIN   zna_project pr
       	          ON pr.type=pt.type
       	 </select>
</mapper>