<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.zna.server.dao.ProjectTypeDAO">

    <update id="updateProjectType" parameterType="com.zna.server.entity.bo.ProjectTypeBO">
        UPDATE `zna_project_type`
        <set>

            <if test="projectTypeName!=null and projectTypeName!=''">`project_type_name`=#{projectTypeName},</if>
            <if test="projectTypeNameEnglish!=null and projectTypeNameEnglish!=''">`project_type_name_english`=#{projectTypeNameEnglish},</if>
            <if test="pictureUrl!=null and pictureUrl!=''">`picture_url`=#{pictureUrl},</if>
            <if test="pictureUrlPc!=null and pictureUrlPc!=''">`picture_url_pc`=#{pictureUrlPc}</if>
        </set>
          WHERE id=#{id}
    </update>

    <select id="selectProjectType" resultType="com.zna.server.entity.bo.ProjectTypeBO">
        SELECT * FROM `zna_project_type`
    </select>

    <resultMap id="map" type="com.zna.server.entity.bo.TypeProjectBO">
        <result column="id" property="id"></result>
        <result column="project_type_name" property="lable"></result>
        <collection property="children" ofType="com.zna.server.entity.bo.ProjectNameBO">
            <result column="projectId" property="value"></result>
            <result column="title" property="lable"></result>
        </collection>
    </resultMap>
    
    <select id="getTypeProject" resultMap="map">
        SELECT  ty.id,ty.project_type_name,pr.id AS projectId,pr.title FROM zna_project_type ty
        LEFT JOIN zna_project pr ON ty.project_type_name_english = pr.type
    </select>

</mapper>