<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 办公室 -->
<mapper namespace="com.zna.server.dao.TeamDAO">

    <select id="getTeamBO" resultType="com.zna.server.entity.bo.TeamBO">
        SELECT * FROM `zna_team` order by sort desc
        <if test="pageOffset!=null and pageSize!=null">
            LIMIT #{pageOffset},#{pageSize}
        </if>
    </select>

    <resultMap id="teamMap" type="com.zna.server.entity.bo.TeamBO">
        <id column="id" property="id"/>
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="name_english" property="nameEnglish"/>
        <result column="head_portrait" property="headPortrait"/>
        <result column="head_portrait_pc" property="headPortraitPc"/>
        <result column="position" property="position"/>
        <result column="position_english" property="positionEnglish"/>
        <result column="intro" property="intro"/>
        <result column="intro_english" property="introEnglish"/>
        <result column="educational" property="educational"/>
        <result column="educational_english" property="educationalEnglish"/>
        <result column="aptitude" property="aptitude"/>
        <result column="aptitude_english" property="aptitudeEnglish"/>
        <result column="sort" property="sort"/>
        <collection property="projectPicture" ofType="com.zna.server.entity.bo.ProjectInvolvedBO">
            <result column="pictureUrl" property="projectPicture"/>
            <result column="pictureUrlPc" property="projectPicturePc"/>
            <result column="projectId" property="id"/>
        </collection>
    </resultMap>
    <select id="getTeamBOS" resultMap="teamMap">
        SELECT te.*,pr.id AS projectId,pr.picture_url AS pictureUrl,pr.picture_url_pc AS pictureUrlPc
        FROM (
        (SELECT * from zna_team order by sort desc<if test="pageOffset!=null and pageSize!=null">
        LIMIT #{pageOffset},#{pageSize}
    </if> )) te
	LEFT JOIN zna_team_project tp ON te.id = tp.team_id
	LEFT JOIN zna_project pr ON tp.project_id = pr.id
	order by te.sort desc

    </select>
    <select id="getTeamBOCount" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM `zna_team` order by sort desc
    </select>

    <select id="getTeamBOById" resultType="com.zna.server.entity.bo.TeamBO">
        SELECT * FROM `zna_team`
        where id=#{id}
    </select>


    <insert id="addTeamBO" parameterType="com.zna.server.entity.bo.TeamBO">
       INSERT  INTO zna_team
       <set>
           <if test="name!=null and name!=''">
               `name`=#{name},
           </if>
           <if test="nameEnglish!=null and nameEnglish!=''">
               `name_english`=#{nameEnglish},
           </if>
           <if test="headPortrait!=null and headPortrait!=''">
               `head_portrait`=#{headPortrait},
           </if>
           <if test="headPortraitPc!=null and headPortraitPc!=''">
               `head_portrait_pc`=#{headPortraitPc},
           </if>
           <if test="position!=null and position!=''">
               `position`=#{position},
           </if>
           <if test="positionEnglish!=null and positionEnglish!=''">
               `position_english`=#{positionEnglish},
           </if>
           <if test="intro!=null and intro!=''">
               `intro`=#{intro},
           </if>
           <if test="introEnglish!=null and introEnglish!=''">
               `intro_english`=#{introEnglish},
           </if>
           <if test="aptitude!=null and aptitude!=''">
               `aptitude`=#{aptitude},
           </if>
           <if test="aptitudeEnglish!=null and aptitudeEnglish!=''">
               `aptitude_english`=#{aptitudeEnglish},
           </if>
           <if test="educational!=null and educational!=''">
               `educational`=#{educational},
           </if>
           <if test="educationalEnglish!=null and educationalEnglish!=''">
               `educational_english`=#{educationalEnglish},
           </if>
           <if test="sort!=null and sort!=''">
               `sort`=#{sort},
           </if>
           create_user_id=#{createUserId},
           create_time=now()
       </set>
    </insert>

    <update id="updTeamBO" parameterType="com.zna.server.entity.bo.TeamBO">
        update  zna_team
        <set>
            <if test="name!=null and name!=''">
                `name`=#{name},
            </if>
            <if test="nameEnglish!=null and nameEnglish!=''">
                `name_english`=#{nameEnglish},
            </if>
            <if test="headPortrait!=null and headPortrait!=''">
                `head_portrait`=#{headPortrait},
            </if>
            <if test="headPortraitPc!=null and headPortraitPc!=''">
                `head_portrait_pc`=#{headPortraitPc},
            </if>
            <if test="position!=null and position!=''">
                `position`=#{position},
            </if>
            <if test="positionEnglish!=null and positionEnglish!=''">
                `position_english`=#{positionEnglish},
            </if>
            <if test="intro!=null and intro!=''">
                `intro`=#{intro},
            </if>
            <if test="introEnglish!=null and introEnglish!=''">
                `intro_english`=#{introEnglish},
            </if>
            <if test="aptitude!=null and aptitude!=''">
                `aptitude`=#{aptitude},
            </if>
            <if test="aptitudeEnglish!=null and aptitudeEnglish!=''">
                `aptitude_english`=#{aptitudeEnglish},
            </if>
            <if test="educational!=null and educational!=''">
                `educational`=#{educational},
            </if>
            <if test="educationalEnglish!=null and educationalEnglish!=''">
                `educational_english`=#{educationalEnglish},
            </if>
            <if test="sort!=null and sort!=''">
                `sort`=#{sort},
            </if>
            update_user_id=#{updateUserId},
            update_time=now()
        </set>
        where id=#{id}
    </update>

    <delete id="delTeamBO" parameterType="java.lang.Integer">
        delete FROM `zna_team` where id=#{id}
    </delete>
    <!--给人物添加项目-->
    <insert id="addTeamProject">
        insert into zna_team_project
        (team_id,project_id)
        values
        <foreach collection="projectIdArr" item="projectId" separator=",">
            (#{teamId},#{projectId})
        </foreach>
    </insert>

    <!--查询刚刚添加的人物-->
    <select id="getTeamNews" resultType="com.zna.server.entity.bo.TeamBO">
        SELECT * FROM zna_team ORDER BY id DESC LIMIT 1
    </select>

    <!--删除某个人物的某些项目-->
    <delete id="delTeamProject">
        DELETE FROM zna_team_project  WHERE team_id = #{teamId}
    </delete>

    <select id="getProjectById" resultType="com.zna.server.entity.bo.ProjectInvolvedBO">
        SELECT pr.id AS id,pr.picture_url AS projectPicture,pr.picture_url_pc AS projectPicturePc
        FROM zna_team te
	LEFT JOIN zna_team_project tp ON te.id = tp.team_id
	LEFT JOIN zna_project pr ON tp.project_id = pr.id
	WHERE te.id = #{id}
    </select>

    <select id="getProjectByTeamId" resultType="com.zna.server.entity.bo.TeamProjectResultBO">
        SELECT pr.id,pr.title,pr.title_english
        FROM zna_team te
        LEFT JOIN zna_team_project tp ON te.id = tp.team_id
        LEFT JOIN zna_project pr ON tp.project_id = pr.id
        WHERE te.id = #{id}
    </select>


</mapper>