<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.zna.server.dao.UserDAO">

    <insert id="addUser" parameterType="com.zna.server.entity.bo.UserBO">
        INSERT INTO `test`.`te_user` ( `name`, `age`, `gender`) VALUES
                                        (#{name}, #{age}, #{gender});
    </insert>

</mapper>